body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.header{
    background-image:url("./time.jpg");
    /* background-repeat: no-repeat; */
    object-fit: cover;
    width:100%;
}
.profile{
    border-radius: 200px;
}
.heading{
    text-align: center;
    color:white;
    font-style: arial;
}
.wraper{
    display:flex;
    flex-direction: row;
    gap: 15px;
    
}
#navbar{
    background-color: rgb(234, 241, 222);
    height:100vh;
    width:20%;
    position: fixed;

}
.nav-heading{
    font-size: 13px;
    text-align: center;
    font-style: arial;
}
.topics{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.topics li{  /* we can access using tag name*/
    border-bottom: 2px solid white;
    margin: 10px;

}
#main-doc{
    background-color: rgb(222, 203, 135);
    /* width: 100%; */
    height:1700px ; 
    overflow: scroll;
    position: absolute;
    left: 306px;
}

p{
    line-height: 1.5rem; /*for spacing between lines in paragraphs*/
}